html {
  background: url("bg.png") repeat;
}

body {
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  color: #0084b4;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  height: 400px;
  text-align: center;
}

#main, div.header, li.repo, li.gist {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  margin: 25px 15px 0;
  font-size: 25px;
}

#main h3 {
  margin: 0 15px 80px;
  font-size: 16px;
}

#main h3 a.fluid {
  position: relative;
  color: #2a2e2e;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 15px;
}

#main h3 a.fluid:hover {
  text-decoration: none;
}

#main h3 a.fluid .logo {
  position: absolute;
  background: url("http://www.fluid.com/img/sprite.png") no-repeat -227px -243px;
  width: 15px;
  height: 15px;
  text-indent: -99999px;
  top: 0;
}

#main p {
  margin: 10px;
  font-size: 11px;
}

#logo {
  width: 190px;
  height: 120px;
  margin: 15px 0 0 15px;
  background: url("http://www.gravatar.com/avatar/182cabe7b8ca7dc8176ac4114e1114e1.png?s=190") 0 bottom;
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 190px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 5px;
}

#num-repos, #num-gists {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

#statistics a:link, #statistics a:visited {
  color: inherit;
}

#statistics p.credits {
  margin-top: 78px;
  font-size: 11px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 11px;
}

#recently-updated-repos,
#recently-added-gists {
  margin: 0 15px;
}

#recently-updated-repos li,
#recently-added-gists li {
  line-height: 1.5;
  max-height: 20px;
  overflow: hidden;
}

#recently-updated-repos li span,
#recently-added-gists li span {
  display: inline-block;
  padding: 0 1px;
  font-size: 11px;
}

#recently-updated-repos li span.name,
#recently-added-gists li span.name {
  padding: 0 6px 0 0;
  font-size: 13px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a,
#recently-added-gists li span.time a,
#recently-added-gists li span.forks a {
  color: #999;
}

li.repo, li.gist {
  height: 190px;
}

li.gist {
  background: #efefef;
  background: rgba(239, 239, 239, 0.7);
}

li.repo > a, li.gist > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover, li.gist a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p,
li.gist h2, li.gist h3, li.gist p {
  margin: 10px 15px;
}

li.repo h2, li.gist h2 {
  margin-bottom: 2px;
  max-width: 185px;
  max-height: 25px;
  overflow: hidden;
}

li.repo h3, li.gist h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.repo:after, .gist:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid #0080b0;
  pointer-events: none;
}

.gist:after {
  border-right-color: #fb8200;
}

.repo.javascript:after,
.gist.javascript:after {
  border-right-color: #ebd80f;
}

.repo.scala:after,
.gist.scala:after {
  border-right-color: #7ac9de;
}

.repo.ruby:after,
.gist.ruby:after {
  border-right-color: #cc1100;
}

.repo.java:after,
.gist.java:after {
  border-right-color: #cc8300;
}

.repo.python:after,
.gist.python:after {
  border-right-color: #2b5a95;
}

.repo.perl:after,
.gist.perl:after {
  border-right-color: #35497d;
}

.repo.html:after,
.gist.html:after {
  border-right-color: #d7370f;
}

.repo.css:after,
.gist.css:after {
  border-right-color: #a3c0db;
}

.gist.markdown:after {
  border-right-color: #394048;
}

li.repo h2.fork, li.gist h2.fork {
  background: url(fork.png) no-repeat center left;
  padding: 0 0 0 20px;
  max-width: 170px;
}
